#title{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 70px;
    margin-top: 30px;
    font-family: 'Pattaya', sans-serif;
    color: rgb(249, 83, 255);
}

table{
    /* border: 6px solid orange; */
    /* border-radius: 6px; */
    
    width: 100%;
    border-color: rgb(249, 83, 255);\
    border-width: 19px;
}
.container{
    width: 232px;
    background-color:rgb(47, 210, 221);
    margin: 120px auto;
}
body{
    background-color: royalblue;
}
td{
    width: 50%;
}
button{
    width: 100%;
    height: 40px;
    font-size: 17px; 
    color:white;
}
.btn{
    background:rgb(121, 39, 214);
    width: 45px;
}
.btn:hover{
    background: rgb(199, 65, 240);
}
.btn2{
    background: rgb(255, 22, 185);
    width:45px;
}
.btn2:hover{
    background: rgb(244, 120, 255)
}
.btn3{
    background: rgb(45, 43, 177);
}
.btn3:hover{
    background:rgb(70, 70, 255);
}
#input{
    height: 55px;
    text-align: right;
    vertical-align: bottom;
    font-size: 35px;
}
