#title{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 70px;
    margin-top: 50px;
    font-family: 'Pattaya', sans-serif;
    color: rgb(249, 83, 255);
}
table{
    /* border: 6px solid orange; */
    /* border-radius: 6px; */
    
    width: 100%;
    border-color: rgb(249, 83, 255);\
    border-width: 19px;
}
.container{
    width: 232px;
    background-color:skyblue;
    margin: 120px auto;
}
body{
    background-color: royalblue;
}
td{
    width: 50%;
}
button{
    width: 100%;
    height: 40px;
    font-size: 17px; 
}
.btn{
    background:rgb(249, 83, 255);
    width: 45px;
    
}
.btn:hover{
    background: rgb(199, 65, 240);
}
#input{
    height: 55px;
    text-align: right;
    vertical-align: bottom;
    font-size: 35px;
}
